/* Remove margens padrão do body */
body {
    margin: 0px;
    
    /* Define uma imagem como plano de fundo */
    background-image: url(img/alien.jpg);
    
    /* Define a repetição do plano de fundo */
    background-repeat: no-repeat; /* Opções: repeat, repeat-x, repeat-y, no-repeat */
    
    /* Define a posição do plano de fundo */
    background-position: center top; /* Opções: top, bottom, left, right, center */
    
    /* Define se o fundo rola com a página */
    background-attachment: fixed;
    
    /* Ajusta o tamanho da imagem ao elemento */
    background-size: cover;
}

/* Estilização do título principal */
h1 {
    text-align: center;
    font-size: 52px;
    margin-top: 0px;
    background-color: #333;
    color: #fff;
}

/* Estilização do conteúdo */
.conteudo {
    text-align: center;
    background-image: url(img/disco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    
    /* A cor se aplica às tags filhas dentro de .conteudo */
    color: #fff;
    
    /* Define a largura e altura da div */
    width: 80%;
    height: 1500px;
    
    /* Centraliza a div */
    margin-left: auto;
    margin-right: auto;
}

/* Estilização do título dentro de .conteudo */
.conteudo h2 {
    background-color: #f60;
    
    /* Respeita a largura do elemento pai (.conteudo) */
    width: 100%;
}