/* 
Seletor CSS {
	propriedade: valor;
}
*/

/* Define a fonte padrão para todas as tags */
body {
	font-family: verdana, sans-serif;
}

/* Estiliza o elemento pelo nome da tag */
h1 {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 52px;
	font-style: italic; /* normal - oblique - italic */
	font-weight: bold; /* bold - bolder - normal - numérico */
	text-transform: capitalize; /* uppercase - capitalize - lowercase */
	color: #880808; /* cor em formato hexadecimal */
}

h2 {
	color: blue; /* cor por nome */
}

/* Seleciona um elemento pelo ID */
#destaque {
	color: cyan;
}

/* Seleciona um elemento pela classe */
.titulo {
	color: purple;
}

#titulo {
	color: crimson; 
}

/* Hierarquia nos seletores CSS */
h2 strong {
	background-color: gold;
}

p strong {
	background-color: grey;
}

#titulo strong {
	background-color: lime;
}

.alerta p strong {
	background-color: orange;
}