/* Define a fonte padrão */
body {
	font-family: verdana, sans-serif;
}

/* Define tamanho da fonte para parágrafos */
p {
	font-size: 18px;
}

/* Classe para destaque de texto */
.destaque {
	line-height: 15px;
	text-align: justify; /* Opções: left - right - center - justify */
}

/* Estilização do título */
.titulo {
	word-spacing: -5px;
	letter-spacing: 5px;
	text-align: center;
	color: crimson;
}

/* Estilização da lista de tarefas */
.tarefa {
	list-style-position: outside; /* inside - outside */
	list-style-type: square; /* disc - circle - square */
	list-style-image: url(ok.png); /* Substitui o marcador da lista */
}

/* Estilização da lista de corrida */
.corrida {
	list-style-type: lower-roman; /* decimal - lower-roman - upper-roman - lower-alpha - upper-alpha */
}

/* Ajuste do alinhamento da imagem */
.alerta img {
	vertical-align: sub; /* sub - super - top - bottom */
}

/* Alinhamento do elemento <span> dentro de <h2> */
h2 span {
	vertical-align: sub;
	font-size: 17px;
}

/* Classe potência aplica superíndice ao <span> */
.potencia span {
	vertical-align: super;
}